<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9c8df6">  <td>14/10/18 16:38:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestEventService.setUp()[pri:0, instance:shopping.cart.service.TestEventService@6bc4fa9d]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1077742948</td>   <td></td> </tr>
<tr bgcolor="9c8df6">  <td>14/10/18 16:38:46</td>   <td>661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestEventService.create()[pri:0, instance:shopping.cart.service.TestEventService@6bc4fa9d]">create</td> 
  <td>main@1077742948</td>   <td></td> </tr>
</table>
